<a href="https://colab.research.google.com/github/NoviantoAryansyah/ML_HOMEWORK/blob/main/HomeWork_Week1/Week1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

**1. Basic data exploratory**

In [1]:
import pandas as pd

melbourne_file_path = '../content/drive/My Drive/Data Set/melb_data.csv'
melbourne_data = pd.read_csv(melbourne_file_path) 
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [2]:
# dropna drops missing values (think of na as "not available")
melbourne_data = melbourne_data.dropna(axis=0)

In [3]:
y = melbourne_data.Price

In [4]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'Lattitude', 'Longtitude']

In [5]:
x = melbourne_data[melbourne_features]

In [6]:
x.describe()

             Rooms     Bathroom      Landsize    Lattitude   Longtitude
count  6196.000000  6196.000000   6196.000000  6196.000000  6196.000000
mean      2.931407     1.576340    471.006940   -37.807904   144.990201
std       0.971079     0.711362    897.449881     0.075850     0.099165
min       1.000000     1.000000      0.000000   -38.164920   144.542370
25%       2.000000     1.000000    152.000000   -37.855438   144.926198
50%       3.000000     1.000000    373.000000   -37.802250   144.995800
75%       4.000000     2.000000    628.000000   -37.758200   145.052700
max       8.000000     8.000000  37000.000000   -37.457090   145.526350

In [7]:
x.head()

   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954

**2. Building model**

In [8]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
melbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
melbourne_model.fit(x, y)

DecisionTreeRegressor(random_state=1)

In [10]:
print("Making predictions for the following 5 houses:")
print(x.head())
print("The predictions are")
print(melbourne_model.predict(x.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

**Decision tree model**

In [11]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same result each run 
melbourne_model = DecisionTreeRegressor(random_state=1)

In [ ]:
#Fit model
melbourne_model.fit(x,y)

In [13]:
# Test the result on training data
print("Making predictions for the following 5 houses:")
print(x.head())
print("The predictions are")
print(melbourne_model.predict(x.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  Lattitude  Longtitude
1      2       1.0     156.0   -37.8079    144.9934
2      3       2.0     134.0   -37.8093    144.9944
4      4       1.0     120.0   -37.8072    144.9941
6      3       2.0     245.0   -37.8024    144.9993
7      2       1.0     256.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

**MODEL VALIDATION**

In [14]:
# Calculate the mean absolute error MSE:

from sklearn.metrics import mean_absolute_error

predicted_home_prices = melbourne_model.predict(x)
mean_absolute_error(y, predicted_home_prices)

1115.7467183128902

In [15]:
# use some of that data as training data to fit the model,
# and use the other data as validation data to calculate mean_absolute_error

In [16]:
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to 
# the random_state argument guarantees we get the same split every time we
# run this script 
train_x, val_x, train_y, val_y = train_test_split(x, y, random_state = 0)

In [17]:
# Define model
melbourne_model = DecisionTreeRegressor()
# Fit Model
melbourne_model.fit(train_x, train_y)

DecisionTreeRegressor()

In [18]:
#kodingan buat liat value pada data validasi tersebut
val_predictions = melbourne_model.predict(val_x)
print(mean_absolute_error(val_y, val_predictions))

272461.94706262107

**Under fitting and overfitting**

In [19]:
# use a utility function to help compare MAE scores from different values for max_leaf_nodes :
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, train_x, val_x, train_y, val_y):
  model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
  model.fit(train_x, train_y)
  preds_val = model.predict(val_x)
  mae = mean_absolute_error(val_y, preds_val)
  return(mae)

In [20]:
# compare MAE with differing value of max_leaf_nodes
for max_leaf_nodes in [2, 20, 200, 2000]:
  my_mae = get_mae(max_leaf_nodes, train_x, val_x, train_y, val_y)
  print("Max leaf nodes: %d \t\t Mean Absolute Error: %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 2 		 Mean Absolute Error: 439583
Max leaf nodes: 20 		 Mean Absolute Error: 311113
Max leaf nodes: 200 		 Mean Absolute Error: 270633
Max leaf nodes: 2000 		 Mean Absolute Error: 268704

**random Forest model**

In [21]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_x, train_y)
melb_preds = forest_model.predict(val_x)
print(mean_absolute_error(val_y, melb_preds))

207190.6873773146

In [22]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_x, train_y)
melb_preds = forest_model.predict(val_x)
print(mean_absolute_error(val_y, melb_preds))

207190.6873773146

In [23]:
print("Making Predictions for the following 10 houses:")
print(x.head(10))
print("The predictions are")
print(forest_model.predict(x.head(10)))

Making Predictions for the following 10 houses:
    Rooms  Bathroom  Landsize  Lattitude  Longtitude
1       2       1.0     156.0   -37.8079    144.9934
2       3       2.0     134.0   -37.8093    144.9944
4       4       1.0     120.0   -37.8072    144.9941
6       3       2.0     245.0   -37.8024    144.9993
7       2       1.0     256.0   -37.8060    144.9954
9       2       1.0     220.0   -37.8010    144.9989
11      3       2.0     214.0   -37.8085    144.9964
12      2       2.0       0.0   -37.8078    144.9965
15      2       1.0     238.0   -37.8090    144.9976
16      3       2.0     113.0   -37.8056    144.9930
The predictions are
[1041445.         1175056.66666667 1480450.         1753505.
 1207230.         1119550.         1432070.          780220.
 1121000.         1185765.        ]

In [24]:
forest_model

RandomForestRegressor(random_state=1)